#mainContainer{

}

@media screen and (max-width: 800px){
	#mainNavList{
		display: none;
	}
	#navMenu{
		overflow: hidden;
		float: right;

	}
	#navImg{
	float: right;
	padding-right: 50px;
	padding-bottom: 15px;
	}
	.parallaxHome{
		background-image: url(../images/HomePowerPlantImage.jpg);
		min-height:900px;

		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    overflow: hidden;
	}

}
@media screen and (min-width: 800px){
	#mainNavList{
		vertical-align: middle;
		width: 75%;
		display: table-cell;
	}
	#navMenuImg{
		display: none;
	}
	#navImg{
		display: none;
	}
	.parallaxHome{
		background-image: url(../images/HomePowerPlantImage.jpg);
		min-height:700px;

		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    overflow: hidden;
	}
}
#mainHeader{
	width: 100%;
	background-color: rgba(1,17,106,.4);
	
}

#mainNavContainer{
	display: table;
	width: 100%;
	margin: auto;
	vertical-align: middle;
	background-color: rgba(30,45,59,.8);
	position: fixed;
	z-index: 10000;

}

#mainNavTitle{
	width: 25%;
	display: table-cell;
	text-align: center;
	/*display: inline-block;
	position: absolute;
	left: 0px;
	text-align: center;
	float: left;
	*/
	
}
.mainImg{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 200px;
	height: auto;
	float: left;
}
/* dropdown stuff */
.dropbtn{
	width: 100%;
	height: 100%;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content {
    display: none;
}
.show {
    display: block;
    position: absolute;
    right: 30px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 50px;
}
.show a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show a:hover{
    background-color: rgba(30,45,59,.8);
}



.active{
	color: #957a29;
}

/* Main nav */


nav ul li {
  float: left;
  width: 20%;
  list-style-type: none;
  padding: 0px;

}

div header div div nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.25vw;

}

nav ul li a:hover {
    color: #957a29;
} 
.footerHeader a{
	text-decoration: none;
	color: white;
}

div div ul li {
  float: left;
  width: 20%;
  list-style-type: none;
  padding: 0px;

}

div div ul li a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2vw;

}

div div ul li a:hover{
    color: #957a29;

}

div h2 a:hover {
    color: #957a29;
} 
footer{
	position: relative;
	bottom: 0px;
	color: white;
	font-size: 8px;
	width: 100%;
	background-color:rgb(30,45,59);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
#footerColumn{
	display: block;
	width: 20%;
	float: left;
}
.footerHeader{
	font-size: 1.5vw;
}

#footerDiv{
	padding-top: 30px;
	display: inline-block;
	width: 100%;
	padding-bottom: 60px;
}
.footerList{
	display: table;
	padding: 0px;
	width: 100%;
}
.footerItem{
	display: table-cell;
	width: 100%;
	font-size: 1.5vw;
}

body{
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

/* ----------------
	Home 
-------------------
*/



.parallaxBottom{
	background-image: url(../images/HomePowerPlantImage.jpg);
	min-height:250px;
	position: relative;
	bottom: 0px;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#HomeContent{
	min-height: 800px;
	width: 100%;
	background-color: #304A63;
	overflow: hidden;
}

#ourbusinessTitlediv{
	height: 100px;
	overflow: hidden;
	position: relative;
	top: 0px;
	padding: 40px;
}

.ourBusinessTitle{
	font-weight: ;
	color: #957a29;
	font-size: 24px;
}

#ourbusinessdiv{
	height: 20%;
	overflow: hidden;
	position: relative;
	top: 0px;
}



.transparentBox{
	background-color: rgba(30,45,59,.4);
	padding: 10px;
	text-align: center;
	box-shadow: 5px 5px 2.5px rgba(0,0,0,0.4);
}
#mainTopBox{
	position: relative;
	top: 250px;
	width: 50vw;
	margin-left: 50px;
	color: white;
}
#mainSecondBox{
	position: relative;
	top: 250px;
	width: 80%;
	margin-left: 50px;
	color: white;
	font-size: 20px;
	text-align: left;
}

#mainThirdBox{
	
	width: 300px;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	text-shadow: 2px 2px #000;

}
#ourBusinessBox{
	width: 80%;
	margin-left: 60px;
	color: white;
	text-shadow: 2px 2px #000;
}

.aboutParagraph{
	margin-left: 55px;
	margin-right: 55px;
	padding: 20px;
	background-color: rgba(0,0,0,0.2);
	color: white;
	font-size: 20px;
}

#clientsdiv{
	position: relative;
	margin:20px;
	width: 100%;
}

.clientsImg{
	width: 23%;
	height: auto;
	padding: 10px;
}






/*

.dropdown {
	position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;

    background-color: rgba(30,45,59,.8);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 100000;

    padding-left: 0px;
    margin-left: 0px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;

}



.dropdown:hover .dropdown-content {
    display: inline-block;
}

*/

nav ul li ul li{
	float: none;
	width: 100%;
}

nav ul li ul li a{
	text-align: center;
}






/* ---------------------
 Management Team 
 -----------------------*/

 @media screen and (max-width: 800px){
 	.photoleadership{
		height: 45%
		width: auto;
		margin: 30px;
		display: inline-block;
		float: left;
	}
 }

 @media screen and (min-width: 800px){
 	.photoleadership{
		height: 15%;
		width: auto;
		margin: 30px;
		display: inline-block;
		float: left;
	}
 }

.parallaxLeadershipTeam{
	background-image: url(../images/tower.jpg);
	min-height:600px;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#aboutmain{
	background-color: #304A63;
}


.leadershipTitleText{
	font-weight: bold;
	font-size: 25px;
	color: #eae8e8;
}
.leadershipTitleSecondaryText{
	font-size: 22px;
	font-weight: normal;
	color: #eae8e8;
}
.leadershipTextContainer{
	display: inline-block;
	float: left;
	width: 75%;
	height: 15%;
	vertical-align: middle;
	padding-top: 80px;
	background-color: rgba(0,0,0,0.2);
	margin-top: 30px;
	margin-left: 30px;
	padding: 15px;
}
.leadershipParagraph{
	font-size: 20px;
	color: #eae8e8;
}
.leadershipindividualsummary{
	display: inline-block;
	margin: 15px;
}


#aboutTopBox{
	position: relative;
	top: 400px;
	width: 320px;
	margin-left: 50px;
	color: white;
}

/*---------------------
Providing solutions
----------------------*/
#SolutionsTopBox{
	position: relative;
	top: 300px;
	width: 45%;
	color: white;
	margin-left: 50px;
}
#SolutionsSecondBox{
	position: relative;
	top: 300px;
	width:55%;
	color: white;
	margin-left: 50px;
	font-size: 20px;
	text-align: left;
}

#SolutionsClientsBox{

	width:70%;
	text-align: center;
	color: white;
	margin-left: 50px;
	font-size: 23px;
	text-shadow: 2px 2px #000;

}
.container{

 	width: 100%;
 	top: 50px;
 	overflow: hidden;
 	position: relative;
 }
 .aboutContainer{
 	
 	overflow: hidden;
 	background-color: #304A63;

 
 }
 .SolutionsHeaderDiv{
 	height: 100px;
 	padding-top: 30px;
 }

 #SolutionsConversion{
 	position: relative;
	top: 0px;
	width:100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-style: bold;
	text-align: center;

 }

 #SolutionsHead{
 	position: relative;
	top: 0px;
	width:1000px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-style: bold;
 }


 .SolutionsMainContainer{
 	width: 275px;
 	float: left;
 	margin: 30px;
 	padding: 20px;
 	background-color: rgba(0,0,0,0.2);
 }
 .SolutionsImg{
 	display: block;
 	margin: 0 auto;

 }
 .SolutionsParagraph{
 	display: inline-block;
 	color: white;
 	width: 100%;
 	font-size: 17px;
 }

 #smallerText{
 	font-size: 18px;
 }
 #SolutionsConversionDiv{
 	vertical-align: middle;
 	padding: 10px;
 }
 #SolutionsConversionDivflare{
 	vertical-align: middle;
 	height: 302px;

 }



 @media screen and (max-width: 1100px){
 	.parallaxProvidingSolutions{
		background-image: url(../images/tide.jpg);
		height: 


		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    overflow: hidden;
	}
	#SolutionsTopRow{
	 	width: 80%;
	 	display: inline-block;

	 }
	 #SolutionsSecondRow{
	 	display: inline-block;
	 	width: 80%;
	 }

}
@media screen and (min-width: 1100px){
	.parallaxProvidingSolutions{
		background-image: url(../images/tide.jpg);
		min-height:600px;


		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    overflow: hidden;
	}
	 #SolutionsTopRow{
	 	width: 80%;
	 	display: inline-block;
	 	margin-left: 5%;
	 	margin-right: 5%;
	 	padding-right: 5%;
	 	padding-left: 5%;
	 }
	 #SolutionsSecondRow{
	 	display: inline-block;
	 	width: 80%;
		margin-left: 5%;
	 	margin-right: 5%;
	 	padding-right: 5%;
	 	padding-left: 5%;
	 }
}

 /* ----------------------
 	Contact Us
 	--------------------*/

 #aboutContentMain{

 	min-height: 900px;
 	background-color: #304A63;
 	overflow: hidden;
 }
 #map{
 	height: 400px;
 	width: 400px;
 	position: relative;
 	top: 120px;
 	margin-right: 80px;
 	float: right;
 }

 #Contactleft{
 	height: 100%;
 	width: 60%;
 	position: relative;
 	top: 150px;
 	margin-left: 10%;
 	float: left;
 }


.rightTextContact{
 	color: #D3D3D3;
 	font-size: 22px;
 	font-weight: bold;
 	display: table-cell;
 }

 .contactContainer{
 	display: table;

 }
@media screen and (min-width: 1150px){

 	 .SecondaryRightTextContacts{
	 	font-size: 19px;
	 	color: white;
	 	display: table-cell;
	 	padding: 10px;
	 }
}

 @media screen and (max-width: 1150px){
 	 #map{
 		height: 400px;
	 	width: 70%;
	 	position: relative;
	 	top: 200px;
	 	margin-right: 15%;
	 	margin-left: 15%;
 }

 	 .SecondaryRightTextContacts{
	 	font-size: 16px;
	 	color: white;
	 	display: table-cell;
	 	padding: 10px;
	 }
}

 /*-----------------------
 	Partnerships
 ------------------------*/
 .PartnershipMaincontainer{
 	min-height: 800px;
 	overflow: hidden;
 	background-color: #304A63;
 	padding-top: 200px;

 }
 .parntershipsParagraphDiv{
 	display: inline-block;
 	color: white;
 	vertical-align: middle;
 }
 .partnershipImg{
 	display: inline-block;
 	width: 60%;
 	margin-right: 20%;
 	margin-left: 20%;
 	height: auto;


 }
 .partnershipsContainer{
 	display: inline-block;
 	width: 40%;
 	background-color: rgba(0,0,0,0.2);
 	margin-left: 5%;
 	margin-right: 5%;
 	
 }

 #FirstNationsHeader{
	width:100%;
	color: white;
	font-size: 20px;
	text-align: center;
}

 #IndustryPartnersHeader{
	width:100%;
	color: white;
	font-size: 20px;
	text-align: center;
}

.parntershipsParagraph{
	padding: 15px;
	font-size: 20px;
	text-align: left;
}

#industryPartnersDiv{
	float: left;
}

#IndustryPartners{

	width:500px;
	color: white;
	margin-left: 450px;
	font-size: 20px;
	margin-bottom: 20px;
}

.divContainerRow1{
	width: 100%;
}






 * {
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}